body{
    background-color: lightgrey;
}

.black{

width:100vw;
height:200px;
background-color: black;
}
.lightgrey1{

background-color:white;


height:100vh;
margin-right: 150px;
margin-left:150px;
}

footer{
   
    background-color: red;
    width:83.5%;
    height:200px;
  
    position: absolute;
  
    margin-left:150px;
    margin-bottom: 0;
}
